@using TradingMaster.Components.Pages
@inherits LayoutComponentBase

<link href="css/default.css" rel="stylesheet" />
<link href="css/sidebar.css" rel="stylesheet" />
<link href="css/footer.css" rel="stylesheet" />

<div class="main-layout">
    <Sidebar />
    <div class="content-container">
        @Body
        <Footer />
    </div>
</div>