﻿@page "/AuthLayout"
@inherits LayoutComponentBase

@inject IJSRuntime JSRuntime

<link href="css/authentication.css" rel="stylesheet" />
<link href="css/default.css" rel="stylesheet" />

<div class="main-container">
    <div class="login-container">
        @Body
    </div>
    <div class="image-container">
        <div class="image-slider">
            <img src="images/image1.jpg" class="slide active" />
            <img src="images/image2.jpg" class="slide" />
            <img src="images/image3.jpg" class="slide" />
        </div>
        <div class="indicator-container">
            <span class="indicator active"></span>
            <span class="indicator"></span>
            <span class="indicator"></span>
        </div>
    </div>
</div>

@code {
    [Inject]
    private IJSRuntime JS { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initializeSlider");
        }
    }
}
