﻿<div class="footer">
<div class="tab-container">
     <input type="radio" id="tab1" name="tab">
     <label for="tab1"><i class="fa fa-scale-balanced"></i>  Compte</label>
    <input type="radio" id="tab2" name="tab" checked>
    <label for="tab2"><i class="fa fa-code"></i>  Positions</label>
    <input type="radio" id="tab3" name="tab">
    <label for="tab3"><i class="fa fa-history"></i>  Historique</label>
    <input type="radio" id="tab4" name="tab">
    <label for="tab4"><i class="fa fa-share-alt"></i>  Nouveauté</label>
    <div class="line"></div>
    <div class="tab-content-container">
        <div class="content" id="c1">
            <AccountWidget/>
        </div>
        <div class="content" id="c2">
        </div>
        <div class="content" id="c3">
            <p>Aucun historique pour le moment.</p>
        </div>
        <div class="content" id="c4">
            <p>Souscrivez à un compte premium afin de recevoir les dernieres nouveautés</p>
        </div>
    </div>
</div>
</div>