﻿@page "/forgot-password"
@layout Shared.AuthLayout

<h3 class="pb-5">Mot de passe oublié</h3>

<EditForm class="form"  Model="forgotPasswordModel" OnValidSubmit="HandleForgotPassword">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3 form-floating">
        <InputText id="email" @bind-Value="forgotPasswordModel.Email" class="form-control" placeholder=" " />
        <label for="email">Votre adresse email</label>
    </div>
    <button type="submit" class="btn btn-primary">Envoyer le mot de passe</button>
</EditForm>

<div class="links">
    <a href="/login">Retour à la connexion</a>
</div>

@code {
    private ForgotPasswordModel forgotPasswordModel = new ForgotPasswordModel();

    private void HandleForgotPassword()
    {
        Console.WriteLine($"Password reset link sent to: {forgotPasswordModel.Email}");
    }

    public class ForgotPasswordModel
    {
        public string Email { get; set; }
    }
}
