﻿@page "/home"
@layout Layout.MainLayout
@inject IJSRuntime JSRuntime
@using System.ComponentModel.DataAnnotations

<link href="css/home.css" rel="stylesheet" />

<script>
    function createChart(elementId, data) {
        var ctx = document.getElementById(elementId).getContext('2d');
        new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        display: false
                    },
                    y: {
                        display: false
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    }
                },
            }
        });
    }
</script>

<div class="crypto-prices">
    @foreach (var crypto in cryptos)
    {
        <div class="crypto-item">
            <div class="crypto-info">
                <img src="@crypto.Icon" alt="@crypto.Name" class="crypto-icon" />
                <div class="crypto-details">
                    <span class="crypto-name">@crypto.Name</span>
                    <span class="crypto-symbol">@crypto.Symbol</span>
                </div>
            </div>
            <span class="crypto-price">@crypto.Price €</span>
            <div class="chart-container">
                <canvas id="@($"chart-{crypto.Symbol}")" class="chart"></canvas>
            </div>
            <div class="crypto-change-container">
                @if (crypto.Change > 0)
                {
                    <i class="fa fa-arrow-trend-up change-arrow positive"></i>
                }
                else
                {
                    <i class="fa fa-arrow-trend-down change-arrow negative"></i>
                }
                <span class="crypto-change @crypto.ChangeColor">@crypto.Change %</span>
            </div>
            <span class="crypto-marketcap">@crypto.MarketCap</span>
            <div class="badge">
            <a href="#" class="buy-link badge">Acheter</a>
            </div>
        </div>
    }
</div>
@code {
    [Inject]
    private IJSRuntime JS { get; set; }

    private List<Crypto> cryptos = new List<Crypto>
    {
        new Crypto { Name = "Bitcoin", Symbol = "BTC", Price = 60750.07, Change = 7.35, MarketCap = "1,2 Bn €", Icon = "path/to/bitcoin-icon.png", ChangeColor = "positive" },
        new Crypto { Name = "Ethereum", Symbol = "ETH", Price = 2771.09, Change = 4.50, MarketCap = "332,5 Md €", Icon = "path/to/ethereum-icon.png", ChangeColor = "positive" },
        new Crypto { Name = "XRP", Symbol = "XRP", Price = 0.48, Change = 3.55, MarketCap = "26,3 M €", Icon = "path/to/xrp-icon.png", ChangeColor = "positive" },
        new Crypto { Name = "Bitcoin Cash", Symbol = "BCH", Price = 425.49, Change = 7.92, MarketCap = "8,4 Md €", Icon = "path/to/bitcoincash-icon.png", ChangeColor = "positive" },
        new Crypto { Name = "Litecoin", Symbol = "LTC", Price = 75.55, Change = 4.29, MarketCap = "5,6 Md €", Icon = "path/to/litecoin-icon.png", ChangeColor = "positive" }
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Random random = new Random();

            foreach (var crypto in cryptos)
            {
                var chartData = new
                {
                    labels = new[] { "", "", "", "", "" },
                    datasets = new[]
                    {
                        new
                        {
                            label = crypto.Symbol,
                            data = new[] { crypto.Price - random.Next(-5000, 5000), crypto.Price - random.Next(-5000, 5000), crypto.Price, crypto.Price + random.Next(-5000, 5000), crypto.Price + random.Next(-5000, 5000) },
                            borderColor = crypto.Symbol == "BTC" ? "orange" : crypto.Symbol == "ETH" ? "blue" : "black",
                            fill = false
                        }
                    }
                };

                await JS.InvokeVoidAsync("createChart", $"chart-{crypto.Symbol}", chartData);
            }
        }
    }

    public class Crypto
    {
        public string Name { get; set; }
        public string Symbol { get; set; }
        public double Price { get; set; }
        public double Change { get; set; }
        public string MarketCap { get; set; }
        public string Icon { get; set; }
        public string ChangeColor { get; set; }
    }
}
