﻿@page "/login"
@layout Shared.AuthLayout
@inject NavigationManager Navigation
@inject HttpClient httpClient

<h3 class="pb-5 pt-2">Connectez-vous</h3>

<EditForm class="form" Model="@loginModel" OnValidSubmit="@HandleLogin">
    <div class="mb-3 form-floating">
        <InputText id="username" @bind-Value="loginModel.Username" class="form-control" placeholder=" " />
        <label for="username">Identifiant</label>
    </div>
    <div class="mb-3 form-floating">
        <InputText id="password" @bind-Value="loginModel.Password" type="password" class="form-control" placeholder=" " />
        <label for="password">Mot de passe</label>
    </div>
    <button type="submit" class="btn btn-primary">Connexion</button>
    @if (loginError)
    {
    <div class="text-danger mt-2">Erreur de connexion. Mot de passe ou identifiant incorrect.</div>
    }
    <div class="links">
        <a href="register">S'inscrire</a>
        <a href="forgot-password">Mot de passe oublié ?</a>
    </div>
</EditForm>

@code {
    private LoginModel loginModel = new LoginModel();
    private bool loginError = false;

    private async void HandleLogin()
    {
        await Task.Delay(1);
        var loginRequest = new
        {
            login = loginModel.Username,
            password = loginModel.Password
        };

        try
        {
            var response = await httpClient.PostAsJsonAsync("http://localhost:5068/api/users/login", loginRequest);
            if (response.IsSuccessStatusCode)
                Navigation.NavigateTo("/home");
            else
                loginError = true;
        }
        catch (Exception ex)
        {
            loginError = true;
        }
    }

    public class LoginModel
    {
        public string Username { get; set; }
        public string Password { get; set; }
        public bool RememberMe { get; set; }
    }
}