﻿@page "/profile"
@layout Layout.MainLayout
@using System.ComponentModel.DataAnnotations

<div class="profile-page">  
    <div class="profile-info">
        <div class="profile-photo">
            <img src="https://via.placeholder.com/150" alt="Profile Photo" />
        </div>
        <div class="profile-details">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" value="Alexandre Ruben" disabled />
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" value="test@gmail.com" disabled />
            </div>
            <div>
                <label for="phone">Phone:</label>
                <input type="tel" id="phone" value="+33 6 12 34 56 78" disabled />
            </div>
            <div>
                <label for="address">Address:</label>
                <input type="text" id="address" value="123 Rue Imaginaire, Paris, France" disabled />
            </div>
        </div>
    </div>
    <div class="profile-actions">
        <button @onclick="EditProfile">Edit Profile</button>
    </div>
</div>

@code {
    private void EditProfile()
    {
    }
}
