﻿@page "/register"
@using TradingMaster.Services
@layout Shared.AuthLayout
@inject NavigationManager Navigation
@inject HttpClient HttpClient

<h3 class="pb-5">Inscription</h3>

<EditForm class="form" Model="registerModel" OnValidSubmit="SubmitRegistration">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3 form-floating">
        <InputText id="username" class="form-control" @bind-Value="registerModel.Username" placeholder=" " />
        <label for="username">Identifiant</label>
    </div>
    <div class="mb-3 form-floating">
        <InputText id="email" class="form-control" @bind-Value="registerModel.Email" type="email" placeholder=" " />
        <label for="email">Adresse email</label>
    </div>
    <button type="submit" class="btn btn-primary">Valider</button>
</EditForm>

<div class="links">
    <a href="/login">Vous avez déjà un compte ? Se connecter</a>
</div>

<h3 class="pb-5 pt-2">@steps[currentStep]</h3>

<div class="wizard-content">
    @if (currentStep == 0)
    {
    <Step1 OnNext="NextStep" />
    }
    else if (currentStep == 1)
    {
    <Step2 OnNext="NextStep" OnPrevious="PreviousStep" />
    }
    else if (currentStep == 2)
    {
    <Step3 OnSubmit="SubmitRegistration" OnPrevious="PreviousStep" />
    }
</div>

@code {
    [Inject] private IUserDataService UserDataService { get; set; }
    private RegisterModel registerModel = new RegisterModel();
    private List<string> steps = new() { "Apprenons à nous connaitre...", "Encore un peu...", "C'est la fin" };
    private int currentStep = 0;
    private bool registerError = false;
    

    public class RegisterModel
    {
        public string Username { get; set; }
        public string Email { get; set; }
    }
    
    private void NextStep()
    {
        if (currentStep < steps.Count - 1)
        {
            currentStep++;
        }
    }

    private void PreviousStep()
    {
        if (currentStep > 0)
        {
            currentStep--;
        }
    }

    private async void SubmitRegistration()
    {
        var registerRequest = new
        {
            login = registerModel.Username,
            password = UserDataService.Password
        };
        try
        {
            var response = await HttpClient.PostAsJsonAsync("http://localhost:5068/api/users/signup", registerRequest);
            if (response.IsSuccessStatusCode)
                Navigation.NavigateTo("/login");
            else
                registerError = true;
        }   
        catch (Exception ex)
        {
            registerError = true;
        }
    }
}
