﻿@page "/registration"
@layout Shared.AuthLayout
@inject NavigationManager Navigation

<h3 class="pb-5 pt-2">@steps[currentStep]</h3>

        <div class="wizard-content">
            @if (currentStep == 0)
            {
                <Step1 OnNext="NextStep" />
            }
            else if (currentStep == 1)
            {
                <Step2 OnNext="NextStep" OnPrevious="PreviousStep" />
            }
            else if (currentStep == 2)
            {
                <Step3 OnSubmit="SubmitRegistration" OnPrevious="PreviousStep" />
            }
</div>

@code {
    private List<string> steps = new() { "Apprenons à nous connaitre...", "Encore un peu...", "C'est la fin" };
    private int currentStep = 0;

    private void NextStep()
    {
        if (currentStep < steps.Count - 1)
        {
            currentStep++;
        }
    }

    private void PreviousStep()
    {
        if (currentStep > 0)
        {
            currentStep--;
        }
    }

    private void     SubmitRegistration()
    {
        Navigation.NavigateTo("/login");
    }
}
