﻿<div class="form-step">
    <div class="mb-3 form-floating">
        <input class="form-control" id="nom" @bind="nom" placeholder="Nom" />
        <label for="nom">Nom</label>
    </div>
    <div class="mb-3 form-floating">
        <input class="form-control" id="prenom" @bind="prenom" placeholder="Prénom" />
        <label for="prenom">Prénom</label>
    </div>
    <div class="mb-3 form-floating">
        <input type="date" class="form-control" id="dob" @bind="dateOfBirth" placeholder="Date de Naissance"  min="1920-01-01" />
        <label for="dob">Date de Naissance</label>
    </div>
    <button class="btn btn-primary" @onclick="Next">Suivant</button>
</div>

@code {
    [Parameter] public EventCallback OnNext { get; set; }

    private string nom;
    private string prenom;
    private DateTime dateOfBirth = new DateTime(1998-01-01);

    private void Next()
    {
        OnNext.InvokeAsync();
    }
}
