﻿<div class="form-step">
    <div class="mb-3 form-floating">
        <input class="form-control" id="profession" @bind="profession" placeholder="Profession" />
        <label for="profession">Profession</label>
    </div>
    <div class="mb-3 form-floating">
        <select class="form-control" id="salaire" @bind="salaire">
            <option value="10000-20000">10 000 - 20 000€</option>
            <option value="20000-40000">20 000 - 40 000€</option>
            <option value="40000-60000">40 000 - 60 000€</option>
            <option value="60000-80000">60 000 - 80 000€</option>
            <option value="80000-100000">80 000 - 100 000€</option>
            <option value="100000+">Plus de 100 000€</option>
        </select>
        <label for="salaire">Salaire Annuel</label>
    </div>
    <div class="d-flex justify-content-between">
        <button class="btn btn-primary" @onclick="Next">Suivant</button>
    </div>
</div>

@code {
    [Parameter] public EventCallback OnNext { get; set; }
    [Parameter] public EventCallback OnPrevious { get; set; }

    private string profession;
    private string salaire;

    private void Next()
    {
        OnNext.InvokeAsync();
    }

    private void Previous()
    {
        OnPrevious.InvokeAsync();
    }
}
