﻿@page "/step3"
@using TradingMaster.Services
@inject HttpClient HttpClient
@inject NavigationManager Navigation

<div class="form-step">
    <div class="mb-3 form-floating">
        <input type="password" class="form-control" id="motDePasse" @bind="motDePasse" placeholder="Mot de Passe" />
        <label for="motDePasse">Mot de Passe</label>
    </div>
    <div class="mb-3 form-floating">
        <input type="password" class="form-control" id="confirmerMotDePasse" @bind="confirmerMotDePasse" placeholder="Confirmer Mot de Passe" />
        <label for="confirmerMotDePasse">Confirmer Mot de Passe</label>
    </div>
    @if (mdpError)
    {
        <div class="text-danger mt-2"> + de 6 caractères, au moins un chiffre, au moins une maj, caractère spéciale.</div>
    }
    <div class="d-flex justify-content-between">
        <button class="btn btn-primary" @onclick="Submit">S'inscrire</button>
    </div>
</div>

@code {
    [Parameter] public EventCallback OnPrevious { get; set; }
    [Parameter] public EventCallback OnSubmit { get; set; }
    [Parameter] public string Username { get; set; }
    [Inject] private IUserDataService UserDataService {get; set; }

    private string motDePasse;
    private string confirmerMotDePasse;
    private bool mdpError = false;


    private async Task Submit()
    {
        UserDataService.Password = motDePasse;
        await OnSubmit.InvokeAsync();
    }

    private void Previous()
    {
        OnPrevious.InvokeAsync();
    }
}
