﻿<link href="css/transactionList.css" rel="stylesheet" />

<div id="c1" class="trading-table">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Montant Investi</th>
                <th>Prix d'Achat</th>
                <th>Prix Actuel</th>
                <th>Gain/Perte</th>
                <th>% Gain/Perte</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>€10,000</td>
                <td>€50</td>
                <td>€55</td>
                <td class="gain">€500</td>
                <td class="percentage gain">10%</td>
            </tr>
            <tr>
                <td>002</td>
                <td>€8,000</td>
                <td>€80</td>
                <td>€75</td>
                <td class="loss">-€500</td>
                <td class="percentage loss">-6.25%</td>
            </tr>
            <tr> 
                <td>003</td>
                <td>€15,000</td>
                <td>€120</td>
                <td>€130</td>
                <td class="gain">€1,250</td>
                <td class="percentage gain">8.33%</td>
            </tr>
            <tr class="total">
                <td colspan="4">Total</td>
                <td class="total-value">€1,250</td>
                <td class="total-percentage">4.06%</td>
            </tr>
        </tbody>
    </table>
</div>
