﻿@page "/wallets"
@layout Layout.MainLayout

<h3>Wallets</h3>

<div class="wallet-cards">
    <div class="card">
        <h4>Déposer de l'argent</h4>
        <label for="depositAmount">Montant:</label>
        <input type="number" id="depositAmount" @bind="depositAmount" />
        <button @onclick="Deposit">Déposer</button>
    </div>
    <div class="card">
        <h4>Enlever de l'argent</h4>
        <label for="withdrawAmount">Montant:</label>
        <input type="number" id="withdrawAmount" @bind="withdrawAmount" />
        <button @onclick="Withdraw">Enlever</button>
    </div>
</div>

<div class="card transaction-history">
    <h4>Historique des transactions</h4>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Montant</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in transactions)
            {
                <tr>
                    <td>@transaction.Date</td>
                    <td>@transaction.Type</td>
                    <td>@transaction.Amount</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private decimal depositAmount;
    private decimal withdrawAmount;
    private List<Transaction> transactions = new List<Transaction>();

    private void Deposit()
    {
        transactions.Add(new Transaction
            {
                Date = DateTime.Now,
                Type = "Dépot",
                Amount = depositAmount
            });
        depositAmount = 0;
    }

    private void Withdraw()
    {
        transactions.Add(new Transaction
            {
                Date = DateTime.Now,
                Type = "Retrait",
                Amount = withdrawAmount
            });
        withdrawAmount = 0;
    }

    public class Transaction
    {
        public DateTime Date { get; set; }
        public string Type { get; set; }
        public decimal Amount { get; set; }
    }
}
