﻿.login-container {
    width: 40%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-container {
    flex: 1;
    position: relative;
}

.image-slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-slider img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s;
}

.image-slider img.active {
    opacity: 1;
}

.indicator-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.indicator {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: var(--primary-color);
}

.registration-container {
    width: 500px    ; 
    max-width: 1000px;
    max-height: 800px;
    height:100%;
    padding: 2rem;
    background-color: var(--container-bg-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.wizard-steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.wizard-step {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
    min-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 0.9rem;
    text-align: center;
    white-space: nowrap;
}

.wizard-step.active {
    background-color: var(--primary-color);
    color: white;
}

.wizard-content {
    width: 100%;
    animation: fadeIn 0.5s ease-in-out;
}

.form-step {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mb-3 {
    margin-bottom: 1.5rem;
}

label {
    color: var(--text-color-secondary);
}

.form-control {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: #f8f9fa;
}

.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
    width: 100%;
}

.form-check-input {
    width: auto;
    height: 0.875rem;
    margin-right: 0.5rem;
}

.form-check-label {
    margin: 0;
    font-size: 0.875rem;
    color: var(--text-color-secondary);
    display: flex;
    align-items: center;
}

.registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.form-step {
    display: flex;
    flex-direction: column;
}

.form-control:hover {
        border-color: var(--primary-color);
}

.form-control:focus {
        border-color: var(--primary-color);
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

button {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    margin-top: 1rem;
}

button:hover {
    background-color: var(--button-hover-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:active {
    background-color: var(--button-active-color);
}

.links {
    margin-top: 1rem;
    text-align: center;
    width: 100%;
}

.links a {
        color: var(--primary-color);
        text-decoration: none;
        transition: color 0.3s;
        display: inline-block;
        margin: 0 0.5rem;
}

.links a:hover {
            color: var(--button-hover-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.fadeIn {
    animation-name: fadeIn;
}
