﻿:root {
    --primary-color: #007bff;
    --secondary-color: #c0c0c0;
    --tertiary-color: #28a745;
    --background-color: #f4f4f9;
    --container-bg-color: #fff;
    --text-color-primary: #333;
    --text-color-secondary: #555;
    --button-hover-color: #0056b3;
    --button-active-color: #004494;
    --active-icon-color: #ff6347;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

.content-container {
    flex-grow: 25;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.main-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.main-container {
    display: flex;
    width: 1000px;
    height: 500px;
    background-color: var(--container-bg-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}


h3 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--text-color-primary);
    width: 100%;
}

.mb-3 {
    margin-bottom: 1.25rem;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-color-secondary);
}

input, .form-check-input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: #f8f9fa;
    margin-bottom: 1rem;
}

input:hover, .form-check-input:hover {
    border-color: var(--primary-color);
}

input:focus, .form-check-input:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input::placeholder {
    color: var(--text-color-secondary);
    opacity: 0.7;
}

button {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    margin-top: 1rem;
}

button:hover {
    background-color: var(--button-hover-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:active {
    background-color: var(--button-active-color);
}

.links {
    margin-top: 1rem;
    text-align: center;
    width: 100%;
}

.links a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s;
    display: inline-block;
    margin: 0 0.5rem;
}

.links a:hover {
    color: var(--button-hover-color);
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.fadeIn {
    animation-name: fadeIn;
}