﻿.footer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width:100%
}

.tab-container {
    font-size: 0;
    border-radius: 3px;
    overflow: hidden;
}

.tab-container input {
    display: none;
}

.tab-container input:checked + label {
    background: #eee;
}

.tab-container input#tab1:checked ~ .line {
    left: 0%;
}

.tab-container input#tab1:checked ~ .tab-content-container #c1 {
    opacity: 1;
}

.tab-container input#tab2:checked ~ .line {
    left: 25%;
}

.tab-container input#tab2:checked ~ .tab-content-container #c2 {
    opacity: 1;
}

.tab-container input#tab3:checked ~ .line {
    left: 50%;
}

.tab-container input#tab3:checked ~ .tab-content-container #c3 {
    opacity: 1;
}

.tab-container input#tab4:checked ~ .line {
    left: 75%;
}

.tab-container input#tab4:checked ~ .tab-content-container #c4 {
   opacity: 1;
}

.tab-container label {
   display: inline-block;
   font-size: 16px;
   height: 40px;
   line-height: 36px;
   width: 25%;
   text-align: center;
   background: #f4f4f4;
   color: #555;
   position: relative;
   transition: 0.25s background ease;
   cursor: pointer;
 }

.tab-container label::after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    display: block;
    background: #ccc;
    bottom: -10px;
    opacity: 0;
    left: 0;
    transition: 0.25s ease;
}

.tab-container label:hover::after {
     opacity: 1;
}

.tab-container .line {
     position: relative;
     height: 2px;
     background: #1e88e5;
     width: 25%;
     top: 0px;
     left: 0;
     transition: 0.25s ease;
}

.tab-container .tab-content-container {
    background: white;
    position: relative;
    height: 100px;
    font-size: 16px;
}

.tab-container .tab-content-container .content {
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0;
    transition: 0.25s ease;
    color: #333;
}

.tab-container .tab-content-container .content h3 {
    font-weight: 200;
    margin: 10px 0;
}

.tab-container .tab-content-container .content p {
    margin: 10px 0;
}

.tab-container .tab-content-container .content p,
.tab-container .tab-content-container .content i {
    font-size: 13px;
 }
