﻿home-container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.crypto-prices {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family: Arial, sans-serif;
    max-width: 1000px;
    height: 100%;
}
.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.header-right {
    display: flex;
    align-items: center;
}

.watchlist-button {
    background: none;
    border: 1px solid #ddd;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.voir-tout {
    text-decoration: none;
    color: blue;
    font-size: 16px;
}

.crypto-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.crypto-info {
    display: flex;
    align-items: center;
    grid-column: 1 / 2;
}

.crypto-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.crypto-details {
    display: flex;
    flex-direction: column;
}

.crypto-name {
    font-weight: bold;
}

.crypto-symbol {
    color: gray;
}

.crypto-price {
    grid-column: 2 / 3;
    text-align: right;
    margin-right: 20px;
}

.chart-container {
    grid-column: 3 / 4;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart {
    width: 100%;
    height: 100%;
}

.crypto-change-container {
    display: flex;
    align-items: center;
    grid-column: 4 / 5;
    text-align: right;
    margin-right: 20px;
}

.change-arrow {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.crypto-change {
    text-align: right;
}

.crypto-change.positive, .change-arrow.positive{
    color: green;
}


.crypto-change.negative, .change-arrow.negative{
    color: red;
}

.crypto-marketcap {
    grid-column: 5 / 6;
    text-align: right;
    margin-right: 20px;
}

.buy-link {
    grid-column: 6 / 7;
    color: blue;
    text-decoration: none;
    margin-right: 10px;
    text-align: right;
}

.favorite-button {
    background: none;
    border: none;
    font-size: 16px;
    color: black;
    cursor: pointer;
    text-align: right;
}
