﻿.profile-page {
    padding: 20px;
    color: #333;
}

.profile-info {
    display: flex;
    gap: 20px;
}

.profile-photo img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

    .profile-details label {
        font-weight: bold;
    }

    .profile-details input {
        width: 300px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

.profile-actions {
    margin-top: 20px;
}

    .profile-actions button {
        padding: 10px 20px;
        border: none;
        background-color: #007bff;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
    }

        .profile-actions button:hover {
            background-color: #0056b3;
        }
