﻿.sidebar {
    height: 100%;
    background-color: var(--primary-color);
    transition: width 0.3s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 100%;
}

.profile-pic {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.3s, opacity 0.3s;
}

.profile-name {
    font-weight: bold;
    font-size: 1rem;
    opacity: 1;
}

.menu-header {
    font-weight: 600;
    padding: 10px 25px;
    font-size: 0.8em;
    letter-spacing: 2px;
    transition: opacity 0.3s;
    opacity: 0.5;
}

.menu-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    flex-grow: 1;
}

.menu-items a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
}

.menu-items a i {
    margin-right: 15px;
    min-width: 25px;
    font-size: 1.25rem;
    transition: color 0.3s;
}

.menu-items a .menu-text {
    overflow: hidden;
    white-space: nowrap;
    transition: opacity 0.3s, width 0.3s;
    opacity: 1;
}

.menu-items a:hover {
    background-color: var(--button-hover-color);
}

.menu-items a.active {
    background-color: var(--button-active-color);
}

.toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: none;
}

.toggle-btn:hover {
    box-shadow: none;
    background: none;
}

.toggle-btn.collapsed {
    transform: rotate(-180deg);
}

.sidebar.collapsed {
    flex-grow: 1;
    max-width: 60px;
}

.sidebar.collapsed .profile-info,
.sidebar.collapsed .menu-header,
.sidebar.collapsed .menu-items a .menu-text {
    width: 0;
    opacity: 0;
}

.sidebar.collapsed .profile-pic {
    margin-right: 4px;
}

sidebar-header {
    margin-bottom: 0;
    padding-bottom: 0;
}
