﻿trading-table {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 100%;
}

#c1 {
    font-family: 'Lato', sans-serif;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

#c1 table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    background: linear-gradient(to bottom right, #ffffff, #f4f4f4);
}

#c1 th, #c1 td {
    padding: 20px;
    text-align: left;
    position: relative;
    transition: background-color 0.3s ease;
}

#c1 th {
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
}

#c1 tr {
    cursor: pointer;
}

#c1 tr:hover {
    background-color: rgba(0,123,255,0.1);
}

#c1 td {
    border-top: 1px solid #e7e7e7;
}

#c1 .gain, #c1 .total-value {
    color: #2ecc71;
    font-weight: bold;
}

#c1 .loss {
    color: #e74c3c;
    font-weight: bold;
}

#c1 .total {
    font-weight: bold;
    background-color: #d6d6d6;
    color: black;
}