﻿.wallet-cards {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

    .card h4 {
        margin-top: 0;
    }

    .card label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }

    .card input {
        width: calc(100% - 10px);
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .card button {
        padding: 10px 20px;
        border: none;
        background-color: #007bff;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
    }

        .card button:hover {
            background-color: #0056b3;
        }

.transaction-history table {
    width: 100%;
    border-collapse: collapse;
}

.transaction-history th,
.transaction-history td {
    padding: 10px;
    border: 1px solid #ddd;
}

.transaction-history th {
    background-color: #f2f2f2;
}
