﻿@layout Layout.MainLayout
@inject NavigationManager Navigation

<div class="sidebar @(isCollapsed ? "collapsed" : "")">
    <div class="sidebar-header">
        <img src="images/avatar.png" alt="Profile Picture" class="profile-pic" />
    </div>
    <div class="menu-items">
        <span class="menu-header"> GENERAL </span>
        <a href="#" @onclick='() => NavigateToPage("home")' class="@(IsActive("home") ? "active" : "")">
            <i class="fas fa-home"></i><span class="menu-text">Accueil</span>
        </a>
        <a href="#" @onclick='() => NavigateToPage("profile")' class="@(IsActive("profile") ? "active" : "")">
            <i class="fas fa-user"></i><span class="menu-text">Profil</span>
        </a>
        <a href="#" @onclick='() => NavigateToPage("wallets")' class="@(IsActive("wallets") ? "active" : "")">
            <i class="fas fa-wallet"></i><span class="menu-text">Portefeuille</span>
        </a>
        <a href="#" @onclick='() => NavigateToPage("report")' class="@(IsActive("report") ? "active" : "")">
            <i class="fas fa-receipt"></i><span class="menu-text">Transactions</span>
        </a>
        <a href="#" @onclick='() => NavigateToPage("")' class="@(IsActive("chart") ? "active" : "")">
            <i class="fas fa-chart-line"></i><span class="menu-text">Graphique</span>
        </a>
        <span class="menu-header"> EXTRA </span>
        <div class="menu-items">
            <a href="#" class="@(IsActive("settings") ? "active" : "")">
                <i class="fas fa-cog"></i><span class="menu-text">Paramètres</span>
            </a>
            <a href="#" @onclick='() => NavigateToPage("login")' class="@(IsActive("logout") ? "active" : "")">
                <i class="fas fa-sign-out-alt"></i><span class="menu-text">Déconnexion</span>
            </a>
        </div>
    </div>
    <button class="toggle-btn @(isCollapsed ? "collapsed" : "")" @onclick="ToggleSidebar">
            <i class="fas fa-bars"></i>
        </button>

</div>

@code {
    private bool isCollapsed = false;
    private string activePage = "chart";

    private void ToggleSidebar()
    {
        isCollapsed = !isCollapsed;
    }

    private void NavigateToPage(string page)
    {
        activePage = page;
        Navigation.NavigateTo("/" + page);
    }

    private bool IsActive(string page)
    {
        return activePage == page;
    }
}